<script type="text/javascript">
    XHR.poll(3, '<%=url("admin/services/gmediarender/status")%>', null,
        function(x, data) {
            var elRunning = document.getElementById('gmr-running');
            if (!elRunning || !data) return;

            elRunning.innerHTML = data.running
                ? '<span style="color:green; font-weight:bold;">运行中</span>'
                : '<span style="color:red;">已停止</span>';
        }
    );
</script>

<div class="cbi-section">
    <table class="table">
        <tr>
            <td width="33%" style="color:#666;">服务状态</td>
            <td id="gmr-running">-</td>
        </tr>
    </table>
</div>
